html{
    background-image: url('../pics/misc/loading.gif');
    background-color: #262626;
    background-repeat:   no-repeat;
    background-position: center center;   
}
body{
    display: none;
}