.megamenu {
	position: static;
}

.megamenu .dropdown-menu {
	background: none;
	border: none;
}
.dropdown-menu {
	width: 100%;
}
.projects-dropdown {
	width: 80%;
}
.pictures-dropdown {
	width: 98%;
}

.text-uppercase {
	letter-spacing: 0.08em;
}
button.lit-btn {
	background-color: rgb(21, 161, 255);
}
#projects-home {
	margin-right: 100px;
}
#home-logo {
	position: absolute;
	margin-left: 15%;
	border: none;
	padding: 0px;
	transition: 200ms;
}
#home-logo:hover{
	opacity: 0.7;
}
.nav-color{
	background-color: rgb(0, 0, 0) !important;
}
/*
.nav-link.text-small.pb-0{
	color: rgb(0, 116, 224);
	font-size: 20px;
	
}
.nav-link.text-small.pb-0:hover{
	color: rgba(255, 255, 255, 0.692)
}*/

.nav-title {
	color: white !important;
	transition: 300ms;
}
.nav-title:hover {
	color: rgba(255, 255, 255, 0.486) !important;
}
.nav-link.fs-16.pictures-dropdown-items {
	color: rgb(97, 97, 97) !important;
	text-align: start;
	width: 100px;
	padding-left: 20px !important;
}
.nav-link.fs-16.pictures-dropdown-items:active {
	background-color: rgb(0, 110, 255);
	color: white !important;
}
.nav-link.fs-16.pictures-dropdown-items:hover {
	color: rgb(0, 0, 0) !important;
}
.pictures-dropdown-items:hover {
	color: rgb(43, 43, 43) !important;
}
.arrow-white.arrow-down:hover {
	opacity: 0.5;
}
.nav-content {
	margin-right: 20px;
}
.dm-img{
	border-radius: 50px;
}
.dm-img:hover{
	border-radius: 50px;
}
#dark-mode {
	position: absolute;
	margin-left: 80%;
	border: none;
	padding: 0px;
	outline: none !important;
	transition: opacity 200ms;
}
#dark-mode:hover{
	opacity: .7;
}

#dark-drop {
	color: black;
	position: absolute;
	width: 90px;
	top: 45px;
	margin-left: 83%;
	z-index: 3;

}
.theme-colors {
	width: 100%;
	color: rgb(100, 100, 100);
	text-decoration: none;
}
.theme-colors:hover {
	color: black;
}
.highlight-100:active {
	color: black;
	background-color: rgb(0, 132, 255);
}
#theme-arrow{
	position: absolute;
	margin-left: 84%;
	transition: color 300ms;
}
#theme-arrow:hover .nav-arrow-img{
	filter: brightness(70%);
}

#navbar-hamburger{
	width: 65px;
	height: 40px;
	padding-top: 5px;
	outline: none !important;
}
@media screen and (min-width: 992px){
	.nav-arrow{
		position: absolute;
		left: calc(50% - 85px)	!important;
	}
}

.nav-arrow-img{
	transition: 300ms;
}
.nav-arrow:hover .nav-arrow-img{
	filter: brightness(70%);
}
@media screen and (max-width: 991px) {
	.mega-arrow {
		display: inline;
		position: absolute;
		top: 55px;
		left: 105px;
	}
	.mega-arrow-pictures {
		top: 75px;
	}
	.navbar-nav.mx-auto {
		margin: 0px !important;
		width: 50px;
	}
	#dark-mode {
		bottom: 130px;
		right: 80px;
	}
	#theme-arrow {
		position: absolute;
		top: 50px;
		right: 90px;
	}
	#dark-drop {
		position: absolute;
		top: 25%;
		margin-left: 78%;
	}
	.ta-bg {
		top: 40px !important;
	}
}
/* @media screen and (max-width: 800px) {
	#dark-mode {
		right: 70px;
	}
}
@media screen and (max-width: 800px) and (min-width: 721px) {
	#theme-arrow {
		position: absolute;
		top: 60px;
		left: 3%;
	}
}
@media screen and (max-width: 720px) {
	#theme-arrow {
		left: 2%;
	}
}
/*THEME ARROW SETTINGS
@media screen and (max-width: 670px) {
	#theme-arrow {
		left: 0% !important;
	}
}
@media screen and (max-width: 600px) and (min-width: 551px) {
	#theme-arrow {
		left: -2% !important;
	}
}
@media screen and (max-width: 550px) {
	#theme-arrow {
		left: -4% !important;
	}
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
	#theme-arrow {
		margin-left: 86%;
	}
} */
