@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
	src: url(fonts/digital-7-mono.ttf);
	font-family: digital;
}

body {
	background-color: #101820;
	color: #fee715;
	text-align: center;
	font-size: 50px;
	font-family: digital, "Open Sans", sans-serif;
	min-width: 700px;
}

/*NAV links*/
nav {
	font-family: digital, "Open Sans", sans-serif;
	width: 100% !important;
	height: 10% !important;
	text-align: center !important;
}
.link {
	width: 130px !important;
	display: inline-block !important;
	font-size: 20px !important;
}
#clock {
	display: inline-block;
	margin: 20px 40px !important;
}
#stopwatch {
	margin: 20px 40px !important;
	padding: 15px 25px !important;
	border: solid white !important;
}
#timer {
	margin: 20px 40px !important;
}

h1 {
	margin: 30px;
	margin-top: 50px;
	text-align: center;
	font-weight: 300;
	color: rgb(59, 59, 255);
}
.button {
	background-color: rgb(59, 59, 255) /*#fee715*/;
	color: #101820;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: 30px 20px;
	cursor: pointer;
	border: none;
	font-family: digital;
	border-radius: 50px;
	outline: currentColor;
}
.button:hover {
	background-color: rgba(59, 59, 255, 0.747);
}
::selection {
	background-color: blue;
	color: black;
}

#lap-time {
	font-size: 35px;
	width: 160px;
	height: 220px;
	margin: auto;
	margin-top: 75px;
	line-height: 50px;
	overflow-y: scroll;
	color: rgb(59, 59, 255);
}
#secDisplay {
	text-align: right;
}
/*scroll bar*/

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: #101820;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(59, 59, 255, 0.753) /*#888*/;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(59, 59, 255, 0.562) /* #555*/;
}

/*#start-button{
	
}*/
